#documents-btn-ctn {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 3rem auto 0;
}

.documents-ctn {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.documents-ctn img {
  width: 100%;
}

.document-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
}

.pdf-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.pdf-link-container a {
  margin: 0 auto;
}

.pdf-link {
  font-size: 1.5rem;
  color: #1f1fff;
}

/* Media queries */
@media (max-width: 768px) {
  .documents-ctn {
    width: 90%;
  }

  .pdf-link-container {
    width: 65%;
  }
}

@media (max-width: 425px) {
  .category-btn-ctn button {
    width: 50%;
  }

  #documents-btn-ctn {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .documents-ctn {
    width: 100%;
  }

  .document-title {
    margin: 1rem 0;
  }

  .pdf-link-container {
    width: 85%;
  }
}