#experiments-btn-ctn {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 3rem auto 0;
}

.experiments-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.experiments-ctn div {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.experiments-ctn iframe {
  margin-bottom: 2rem;
  width: 100%;
}

.experiments-ctn a {
  font-size: 1.5rem;
  margin: -1rem 0 2rem;
}

#pdf-ctn {
  margin: 0 0 2rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Media queries */
@media (max-width: 2560px) {
  .experiments-ctn iframe {
    height: 72rem;
  }
}

@media (max-width: 1440px) {
  .experiments-ctn iframe {
    height: 41rem;
  }
}

@media (max-width: 1024px) {
  .experiments-ctn iframe {
    height: 29rem;
  }
}

@media (max-width: 768px) {
  .experiments-ctn iframe {
    height: 25rem;
  }

  .experiments-ctn {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .experiments-ctn iframe {
    height: 15rem;
  }

  .experiments-ctn {
    width: 100%;
  }

  .experiments-ctn a,
  .experiments-ctn div {
    text-align: center;
  }

  .category-btn-ctn button {
    width: 50%;
  }

  #experiments-btn-ctn {
    width: 100%;
    margin: 1rem auto -2rem;
    flex-wrap: wrap;
  }

  #pdf-ctn {
    width: 100%;
  }
}