body {
  margin: 0;
  padding: 0;
}

.background-vid video {
  position: fixed;
  z-index: -1;
  top: -150px;
  width: 100%;
  height: 123.4%;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.5rem;
  width: 80%;
}

.header h1,
.header p {
  text-align: center;
  color: #ddd;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  margin: 3rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.nav-list-item {
  width: 33%;
  text-align: center;
}

.nav-list-item a {
  font-size: 2rem;
  color: teal;
}

.category-btn-ctn button {
  width: 20%;
  margin: 0 1rem 1.5rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ddd;
}

.pdf-download-btn {
  margin: 1rem 0;
  padding: 0.5rem 1rem 0.4rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: #ddd;
  cursor: pointer;
}

.pdf-download-btn a {
  text-decoration: none;
  color: black;
}

.pdf-download-btn:hover {
  text-decoration: underline;
  color: blue;
}

/* Media queries */
@media (max-width: 768px) {
  .background-vid video {
    top: -130px;
  }
}

@media (max-width: 425px) {
  .header p {
    font-size: 1.2rem;
    margin: 0;
  }

  .nav-list {
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  .nav-list-item {
    width: 100%;
    margin: 0.5rem 0;
  }
}